<div class="container mt-4">
    <h2 class="mb-3">Cadastro de Voo</h2>

    <form (ngSubmit)="registerFlight()">
        <div class="mb-3">
            <label for="date" class="form-label">Data/Hora</label>
            <input type="datetime-local" id="date" class="form-control" [(ngModel)]="date" name="date" required>
        </div>
        <div class="mb-3">
            <label for="originAirport" class="form-label">Aeroporto de Origem</label>
            <select id="originAirport" class="form-select" [(ngModel)]="originAirport" name="originAirport" required>
                <option *ngFor="let airport of airports" [value]="airport">{{ airport }}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="destinationAirport" class="form-label">Aeroporto de Destino</label>
            <select id="destinationAirport" class="form-select" [(ngModel)]="destinationAirport"
                name="destinationAirport" required>
                <option *ngFor="let airport of airports" [value]="airport">{{ airport }}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="ticketCost" class="form-label">Valor da Passagem (R$)</label>
            <input type="text" id="ticketCost" class="form-control" [(ngModel)]="ticketCost" name="ticketCost"
                mask="separator.2" thousandSeparator="." decimalMarker="," prefix="R$ " required (input)="updateMilesEquivalent()" />
            <small class="text-muted">Equivalente em Milhas: {{ milesEquivalent || 'N/A' }}</small>
        </div>
        <div class="mb-3">
            <label for="totalSeats" class="form-label">Quantidade de Poltronas</label>
            <input type="number" id="totalSeats" class="form-control" [(ngModel)]="totalSeats" name="totalSeats" 
                (keypress)="allowOnlyNumbers($event)" min="1" required>
        </div>
        <button type="submit" class="btn btn-success">Cadastrar Voo</button>
    </form>

    <!-- Mensagem de sucesso -->
    <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
    </div>
</div>