<div class="container d-flex justify-content-center align-items-center mt-4">
  <div class="d-flex flex-column p-3">
    <h1 class="text-dark-blue fs-heading1 mb-4">Cadastro de Voo</h1>

    <form class="d-flex flex-column" (ngSubmit)="registerFlight()">
      <div class="mb-4">
        <label for="date" class="fs-paragraph">Data/Hora</label>
        <input
          type="datetime-local"
          id="date"
          class="form-control p-25 min-w-750px border-dark"
          [(ngModel)]="date"
          name="date"
          required
        />
      </div>
      <div class="mb-4">
        <label for="originAirport" class="fs-paragraph"
          >Aeroporto de Origem</label
        >
        <select
          id="originAirport"
          class="form-control p-25 min-w-750px border-dark"
          [(ngModel)]="originAirport"
          name="originAirport"
          required
        >
          <option *ngFor="let airport of airports" [value]="airport">
            {{ airport }}
          </option>
        </select>
      </div>
      <div class="mb-4">
        <label for="destinationAirport" class="fs-paragraph"
          >Aeroporto de Destino</label
        >
        <select
          id="destinationAirport"
          class="form-control p-25 min-w-750px border-dark"
          [(ngModel)]="destinationAirport"
          name="destinationAirport"
          required
        >
          <option *ngFor="let airport of airports" [value]="airport">
            {{ airport }}
          </option>
        </select>
      </div>
      <div class="mb-4">
        <label for="ticketCost" class="fs-paragraph"
          >Valor da Passagem (R$)</label
        >
        <input
          type="text"
          id="ticketCost"
          class="form-control p-25 min-w-750px border-dark"
          [(ngModel)]="ticketCost"
          name="ticketCost"
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
          prefix="R$ "
          required
          (input)="updateMilesEquivalent()"
        />
        <small class="text-muted"
          >Equivalente em Milhas: {{ milesEquivalent || "N/A" }}</small
        >
      </div>
      <div class="mb-4">
        <label for="totalSeats" class="fs-paragraph"
          >Quantidade de Poltronas</label
        >
        <input
          type="number"
          id="totalSeats"
          class="form-control p-25 min-w-750px border-dark"
          [(ngModel)]="totalSeats"
          name="totalSeats"
          (keypress)="allowOnlyNumbers($event)"
          min="1"
          required
        />
      </div>
      <div class="d-flex justify-content-between">
        <a class="btn btn-secondary" routerLink="/employee-dashboard">Voltar</a>
        <button type="submit" class="btn btn-primary">Cadastrar Voo</button>
      </div>
    </form>

    <!-- Mensagem de sucesso -->
    <div *ngIf="successMessage" class="alert alert-success mt-3">
      {{ successMessage }}
    </div>
  </div>
</div>
