<div class="container mt-4">
    <h1 class="mb-3 fs-heading1 text-dark-blue">Painel de Funcionários - Próximos Voos</h1>

    <!-- Link para cadastro de voo -->
    <div class="mb-3">
        <a [routerLink]="['/flight-registration']" class="btn btn-primary">Cadastrar Novo Voo</a>
    </div>

    <!-- Mensagem de sucesso -->
    <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
    </div>

    <table class="table table-striped" *ngIf="flights.length > 0; else noFlights">
        <thead>
            <tr>
                <th class="bg-gray">Data/Hora</th>
                <th class="bg-gray">Aeroporto de Origem</th>
                <th class="bg-gray">Aeroporto de Destino</th>
                <th class="bg-gray">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flights">
                <td>{{ flight.date | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ flight.originAirport }}</td>
                <td>{{ flight.destinationAirport }}</td>
                <td>
                    <a 
                        [routerLink]="['/boarding-confirmation']" 
                        class="btn btn-primary btn-sm" >
                        Confirmar Embarque
                    </a>
                    <button 
                        class="btn btn-warning btn-sm mx-1" 
                        [disabled]="flight.status !== 1" 
                        (click)="cancelFlight(flight)">
                        Cancelar Voo
                    </button>
                    <button 
                        class="btn btn-success btn-sm" 
                        [disabled]="flight.status !== 1" 
                        (click)="markAsCompleted(flight)">
                        Completar Voo
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #noFlights>
        <p class="text-paragraph">Nenhum voo nas próximas 48h.</p>
    </ng-template>
</div>
