<h1 class="text-center text-dark-blue fs-heading1 my-4">Funcionário</h1>

<div class="border-top p-3">
  <form #editOrCreateForm="ngForm" (ngSubmit)="onSubmit(editOrCreateForm)">
    <div class="mb-3">
      <label for="name" class="fs-paragraph">Nome</label>
      <input
        type="text"
        class="form-control p-25 border-dark"
        id="name"
        name="name"
        #name="ngModel"
        placeholder="Digite o nome"
        ngModel="{{ employee.name }}"
        required
      />
      <div *ngIf="name.errors && (name.dirty || name.touched)" class="mt-1">
        <p class="text-danger" [hidden]="!name.errors['required']">
          Digite o nome.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="cpf" class="fs-paragraph">CPF</label>
      <input
        type="text"
        class="form-control p-25 border-dark"
        id="cpf"
        name="cpf"
        placeholder="Digite o CPF"
        ngModel="{{ employee.cpf }}"
        disabled="{{ edit }}"
        #cpf="ngModel"
        cpf
        mask="000.000.000-00"
        required
      />
      <div *ngIf="cpf.errors && (cpf.dirty || cpf.touched)" class="mt-1">
        <p class="text-danger" [hidden]="!cpf.errors['required']">
          Digite o CPF.
        </p>
        <p class="text-danger" [hidden]="!cpf.errors['cpf']">CPF inválido.</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="fs-paragraph">E-mail</label>
      <input
        type="email"
        class="form-control p-25 border-dark"
        id="email"
        name="email"
        placeholder="Digite o e-mail"
        ngModel="{{ employee.email }}"
        #email="ngModel"
        email
        required
      />
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="mt-1">
        <p class="text-danger" [hidden]="!email.errors['required']">
          Digite o email.
        </p>
        <p class="text-danger" [hidden]="!email.errors['email']">
          E-mail inválido.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="phone" class="fs-paragraph">Telefone</label>
      <input
        type="text"
        class="form-control p-25 border-dark"
        id="phone"
        name="phone"
        placeholder="Digite o telefone"
        mask="(00) 0000-0000 || (00) 0 0000-0000"
        ngModel="{{ employee.phone }}"
        #phone="ngModel"
        phone
        required
      />
      <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="mt-1">
        <p class="text-danger" [hidden]="!phone.errors['required']">
          Digite seu telefone.
        </p>
        <p class="text-danger" [hidden]="!phone.errors['phone']">
          Telefone inválido.
        </p>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary text-light w-100"
      [disabled]="!editOrCreateForm.form.valid"
    >
      Enviar
    </button>
  </form>
</div>
