<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand">Dac app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="tela-inicial-cliente">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Opção 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Opção 2</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h2 class="mb-3">Detalhes da Reserva</h2>

        <div *ngIf="reservas.length > 0; else noReservations">
            <div *ngFor="let reserva of reservas">
                <p>Origem: {{ reserva.flight.originAirport }}</p>
                <p>Destino: {{ reserva.flight.destinationAirport }}</p>
                <p>Data: {{ reserva.flight.date | date:'dd/MM/yyyy HH:mm' }}</p>
                <p>Preço: R${{ reserva.flight.ticketCost }}</p>
                <p>Status: {{ reserva.status }}</p>
            </div>
        </div>

        <ng-template #noReservations>
            <p class="text-muted">Nenhuma reserva encontrada.</p>
        </ng-template>
    </div>
</body>
</html>
