.gradient-custom {
  background:rgb(37, 80, 220);

  background: linear-gradient(
    270deg,
    rgb(7, 3, 237) 0%,
    rgb(37, 80, 220) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    rgb(7, 3, 237) 0%,
    rgb(37, 80, 220) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    rgb(7, 3, 237) 0%,
    rgb(37, 80, 220) 100%
  );

}

.background-glass {
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

input.form-control {
    border: 1px solid black;
}

input.form-control:focus{
  border: 1px solid  rgb(7, 3, 237);
}

.btn-submit {
  background-color: rgb(37, 80, 220);
  color: #fff;
}
.gap-1 {
  gap: 4px;
}
