<div
  class="flex-column container d-flex justify-content-center align-items-center mt-4"
>
  <div class="d-flex flex-column p-3">
    <h1 class="text-dark-blue fs-heading1 mb-4">Consultar Reserva</h1>
    <form #formBooking="ngForm" (ngSubmit)="onSubmit(formBooking)">
      <label class="fs-paragraph mb-1" for="booking"
        >Insira o código da Reserva:
      </label>
      <div class="d-flex gap-3">
        <input class="form-control border-dark min-w-750px" ngModel required />
        <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
    </form>
  </div>
</div>

<div class="container-a mt-4" *ngIf="formBooking.form.invalid">
  <div class="cell large">
    <strong>Data:</strong> <br />
    <p>02/04/2025</p>
  </div>
  <div class="cell">
    <strong>Origem:</strong> <br />
    <p>{{ voo.originAirport }}</p>
  </div>
  <div class="cell">
    <strong>Destino:</strong> <br />
    <p>{{ voo.destinationAirport }}</p>
  </div>
  <div class="cell medium">
    <strong>ID:</strong> <br />
    <p>{{ reserva.ID }}</p>
  </div>
  <div class="cell">
    <strong>Preço pago:</strong> <br />
    <p>R${{ voo.ticketCost }}</p>
  </div>
  <div class="cell">
    <strong>Código:</strong> <br />
    <p>AAA111</p>
  </div>
  <div class="cell medium">
    <strong>Status:</strong> <br />
    <p>{{ reserva.status }}</p>
  </div>
  <button class="cell large cancel-button btn btn-outline-warning">
    Cancelar
  </button>
  <button class="cell large check-in-button btn btn-outline-warning">
    Check-In
  </button>
</div>
