<div class="container mt-4">
  <h1 class="text-dark-blue fs-heading1">Extrato de Transações</h1>
  <hr class="separador" />
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th class="bg-gray">Data</th>
        <th class="bg-gray">Código da Reserva</th>
        <th class="bg-gray">Valor (R$)</th>
        <th class="bg-gray">Milhas</th>
        <th class="bg-gray">Descrição</th>
        <th class="bg-gray">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transacao of transacoes">
        <td>{{ transacao.data | date : "dd/MM/yyyy" }}</td>
        <td>{{ transacao.codigoReserva || "-" }}</td>
        <td>{{ transacao.valorReais | currency : "BRL" }}</td>
        <td>{{ transacao.milhas }}</td>
        <td>{{ transacao.descricao }}</td>
        <td
          [ngClass]="{
            'text-success': transacao.tipo === 'ENTRADA',
            'text-danger': transacao.tipo === 'SAÍDA'
          }"
        >
          {{ transacao.tipo }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
