<div class="container mt-4">
  <h1 class="text-dark-blue fs-heading1 mb-4">Realizar reserva</h1>
  <div class="filters mb-4">
    <input
      type="text"
      class="form-control border-dark"
      [(ngModel)]="searchOrigin"
      placeholder="Pesquisar por origem"
    />

    <input
      type="text"
      class="form-control border-dark"
      [(ngModel)]="searchDestination"
      placeholder="Pesquisar por destino"
    />

    <button class="btn btn-primary" (click)="filterTable()">
      Buscar
    </button>
  </div>
  <hr class="separador" />
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th class="bg-gray">Data</th>
        <th class="bg-gray">Origem</th>
        <th class="bg-gray">Destino</th>
        <th class="bg-gray">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of filteredBookings">
        <td>{{ booking.data.toLocaleDateString() }}</td>
        <td>{{ booking.origin }}</td>
        <td>{{ booking.destination }}</td>
        <td>
          <button class="btn btn-primary" (click)="openBookingModal()">
            Selecionar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
