table {
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.separador {
    height: 1px;
    color: #212529;
    width: 100%;
}

.filters {
    display: flex;
    gap: 10px; 
    align-items: start; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.filters input {
    flex: 1; 
    min-width: 200px; 
}
