<div class="container d-flex justify-content-center align-items-center mt-4">
  <div class="d-flex flex-column p-3">
    <h2 class="mb-3 fs-heading1 text-dark-blue">Confirmação de Embarque</h2>

    <form (ngSubmit)="confirmBoarding()">
      <div class="mb-3">
        <label for="reservationCode" class="fs-paragraph form-label"
          >Código de Reserva</label
        >
        <input
          type="text"
          id="reservationCode"
          class="form-control p-25 min-w-750px border-dark"
          [(ngModel)]="reservationCode"
          name="reservationCode"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Confirmar Embarque</button>

      <!-- Mensagens -->
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>

      <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
      </div>
    </form>
  </div>
</div>
