table {
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.subTitulo {
  color: #212529;
  font-weight: 800;
  font-size: large;
}

.separador {
  height: 1px;
  color: #212529;
  width: 100%;
}
