<header class="p-3 bg-blue" *ngIf="showHeader">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start gap-2"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img class="w-48px" src="ticket-flight.svg" alt="" />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="/customer-home" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="/buy-miles" class="nav-link px-2 text-white">Comprar Milhas</a></li>
        <li><a href="/booking-lookup" class="nav-link px-2 text-white">Reservar Voo</a></li>
        <li><a href="/check-in" class="nav-link px-2 text-white">Efetuar Check-In</a></li>
        <li><a href="/extract" class="nav-link px-2 text-white">Consultar Extrato</a></li> 
      </ul>

      <div class="text-end d-flex gap-3 align-items-center">
        <span class="badge text-bg-success">Minhas Milhas: 5000</span>
        <button type="button" class="btn btn-warning" (click)="logout()">Sair</button>
      </div>
    </div>
  </div>
</header>

<div class="d-flex flex-column min-vh-100">
  <router-outlet></router-outlet>

  <div class="bg-blue py-2 text-light mt-auto" *ngIf="showHeader">
    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3"
      >
        <p class="col-md-4 mb-0">© 2025 Company, Inc</p>

        <a
          href="/"
          class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
          aria-label="Bootstrap"
        >
          <img class="w-48px" src="ticket-flight.svg" alt="" />
        </a>
      </footer>
    </div>
  </div>
</div>
