<section
  class="container d-flex justify-content-center align-items-center mt-4"
>
  <div class="d-flex flex-column p-3">
    <h1 class="text-dark-blue fs-heading1 mb-4">Comprar Milhas</h1>
    <p class="fs-paragraph">Quantidade de milhas:</p>
    <div class="d-flex gap-1 mb-4">
      <input
        type="radio"
        class="btn-check"
        name="options"
        id="option1"
        autocomplete="off"
        [value]="1000"
        [(ngModel)]="miles"
      />
      <label class="btn btn-secondary rounded-pill px-3" for="option1"
        >1.000</label
      >

      <input
        type="radio"
        class="btn-check"
        name="options"
        id="option2"
        autocomplete="off"
        [value]="5000"
        [(ngModel)]="miles"
      />
      <label class="btn btn-secondary rounded-pill px-3" for="option2"
        >5.000</label
      >

      <input
        type="radio"
        class="btn-check"
        name="options"
        id="option3"
        autocomplete="off"
        [value]="10000"
        [(ngModel)]="miles"
      />
      <label class="btn btn-secondary rounded-pill px-3" for="option3"
        >10.000</label
      >

      <input
        type="radio"
        class="btn-check"
        name="options"
        id="option4"
        autocomplete="off"
        [value]="50000"
        [(ngModel)]="miles"
      />
      <label class="btn btn-secondary rounded-pill px-3" for="option4"
        >50.000</label
      >
      <input
        type="radio"
        class="btn-check"
        name="options"
        id="option5"
        autocomplete="off"
        [value]="100000"
        [(ngModel)]="miles"
      />
      <label class="btn btn-secondary rounded-pill px-3" for="option5"
        >100.000</label
      >
    </div>
    <input
      class="form-control p-25 min-w-750px border-dark mb-5"
      type="number"
      placeholder="Digite outra quantidade de milhas"
      [(ngModel)]="miles"
      (ngModelChange)="updateMiles($event)"
    />
    <div class="card p-3 w-100 gap-2 mb-4">
      <h2 class="fs-5">Resumo da compra</h2>
      <div class="d-flex justify-content-between">
        <p class="fs-paragraph mb-0">Quantidade</p>
        <p class="fs-paragraph fw-semibold mb-0">{{miles}}</p>
      </div>
      <hr />
      <div class="d-flex justify-content-between">
        <h3 class="fs-5">Total</h3>
        <p class="fs-paragraph fw-semibold mb-0">R${{value}}</p>
      </div>
    </div>
    <button class="btn btn-primary text-light" (click)="submit()">Comprar</button>
  </div>
</section>
