
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    max-width: 800px; 
}

h1 {
    color: #212529;
    align-self: flex-start;
}
