<h1 class="text-center text-dark-blue fs-heading1 my-4">Comprar Assentos</h1>

<div class="border-top p-3 mb-3">
  <h5 class="card-title mb-3">Informações do Voo</h5>
  <p><strong>Data:</strong> {{ booking.flight.data | date:'dd/MM/yyyy HH:mm' }}</p>
  <div class="d-flex gap-2 justify-content-between">
    <p class="w-100 mb-0">
      <strong>Origem:</strong> {{ booking.flight.aeroporto_origem.nome }}
    </p>
    <p class="w-100 mb-0">
      <strong>Destino:</strong> {{ booking.flight.aeroporto_destino.nome }}
    </p>
  </div>
</div>

<div class="border-top p-3" *ngIf="!confirmingPayment && !endingPayment">
  <div class="row">
    <div class="col">
      <p class="fw-bold card-title">Assentos Disponíveis</p>
      <p>{{ booking.flight.quantidade_poltronas_total - booking.flight.quantidade_poltronas_ocupadas }}</p>
    </div>
    <div class="col">
      <p class="fw-bold card-title">Valor do assento</p>
      <p>R$ {{ booking.flight.valor_passagem }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="seatSelection" class="fw-bold form-label"
        >Selecionar quantidade:</label
      >
      <input
        type="number"
        id="seatSelection"
        class="form-control w-25"
        [(ngModel)]="selectedSeats"
        (ngModelChange)="validateSeats()"
        [min]="1"
        [max]="booking.flight.quantidade_poltronas_total - booking.flight.quantidade_poltronas_ocupadas"
        placeholder="Escolha a quantidade"
      />
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary mt-3" (click)="confirmPayment()">
      Próximo
    </button>
  </div>
</div>

<div class="border-top p-3" *ngIf="confirmingPayment">
  <div class="row">
    <div class="col">
      <p class="fw-bold card-title">Assentos selecionados</p>
      <p>{{ selectedSeats }}</p>
    </div>
    <div class="col">
      <p class="fw-bold card-title">Valor a pagar</p>
      <p>R$ {{ selectedSeats * booking.flight.valor_passagem }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="fw-bold card-title">Quantidade de milhas</p>
      <input
        type="number"
        id="selectedMilles"
        class="form-control w-75"
        [(ngModel)]="selectedMilles"
        [min]="1"
        [max]="selectedSeats * booking.flight.valor_passagem"
        placeholder="Escolha a quantidade"
      />
    </div>
    <div class="col">
      <p class="fw-bold card-title">Valor a pagar em reais</p>
      <p>R$ {{ selectedSeats * booking.flight.valor_passagem - selectedMilles }}</p>
    </div>
  </div> 

  <div *ngIf="hasPaymentError" class="alert alert-danger mt-2" role="alert">
    {{paymentErrorMessage}}
  </div>

  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary w-100" (click)="goBack()">Voltar</button>
    </div>
    <div class="col">
      <button class="btn btn-primary w-100" (click)="endPayment()">
        Comprar
      </button>
    </div>
  </div>
</div>

<div class="border-top p-3" *ngIf="endingPayment">
  <div class="row">
    <div class="col">
      <p class="fw-bold card-title">Código da compra</p>
      <p>{{ paymentCode }}</p>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary w-100" (click)="finish()">
        Finalizar
      </button>
    </div>
  </div>
</div>
