<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="text-dark-blue fs-heading1">Minhas Reservas</h1>
    <p class="fs-paragraph"><span class="fw-bold">Suas milhas:</span> 2303</p>
  </div>
  <hr class="separador" />

  <table
    class="table table-striped mt-3"
    *ngIf="reservas.length > 0; else noReservations"
  >
    <thead>
      <tr>
        <th class="bg-gray">Origem</th>
        <th class="bg-gray">Destino</th>
        <th class="bg-gray">Data</th>
        <th class="bg-gray">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <td>{{ reserva.flight.originAirport }}</td>
        <td>{{ reserva.flight.destinationAirport }}</td>
        <td>{{ reserva.flight.date | date : "dd/MM/yyyy HH:mm" }}</td>
        <td>{{ reserva.status }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noReservations>
    <p class="text-muted">Nenhuma reserva encontrada.</p>
  </ng-template>
</div>
