<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand">Dac app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="tela-inicial-cliente">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Opção 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Opção 2</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <h2 class="grid-title">Ver Reservas</h2>
    <div class="container">
        <div class="cell large"><strong>Data:</strong> <br> <p>{{reservas[0]?.data}}</p></div>
        <div class="cell"><strong>Origem:</strong> <br> <p>{{reservas[0]?.origem}}</p></div>
        <div class="cell"><strong>Destino:</strong> <br><p>{{reservas[0]?.destino}}</p></div>
        <div class="cell medium"><strong>ID:</strong> <br> <p>{{reservas[0]?.id}}</p></div>
        <div class="cell"><strong>Preço:</strong> <br><p> R$5.500,00</p></div>
        <div class="cell"><strong>Código:</strong> <br> <p>2530</p></div>
        <div class="cell medium"><strong>Status:</strong> <br><p>Reservada</p></div>
    </div>
    
</body>
</html>
